#calculator{
  width: 500px;
  margin: auto;
}

#box {
  padding: 15px;
  border: 2px double #8a8a8a;
}

.title{
  font-size: 32px;
  padding: 20px;
  text-align: center;
}

.user-input {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.user-input p {
  font-size: 40px;
  margin: 5px;
  text-align: right;
}

.result p{
  font-size: 24px;
  text-align: right;
}

button {
  width: 25%;
  height: 100px;
  font-size: 30px;
  background: white;
  border: 1px solid;
}